
@media only screen and (min-width: 700px) and (max-width:2000px){
   body {
	   text-align:center;
	   background-color:#FFBBE1;
   }
   img {
	content:url(kitten-large.png);
	text-align:center;
}
   .kittyloaf {
	visibility:visible;
	content:url(panda_lying.jpg);
}
}
@media only screen and (min-width: 470px) and (max-width:699px) {
  body {
	   text-align:center;
	   background-color:#9932CC;
   }
  img {
	content:url(kitten-medium.png);
	text-align:center;
}
.kittyloaf {
	visibility:visible;
	content:url(kittyloaf.gif);
}
}
@media only screen and (min-width: 100px) and (max-width:469px) {
   body {
	   text-align:center;
	   background-color:#00FFFF;
   }
   img {
	content:url(kitten-small.png);
	text-align:center;
}
  .kittyloaf {
	visibility:visible;
	content:url(panda.jpg);
}
}
